
<div class="container text-center" style="height:700px; background-image: url(../Images/404-not-found.jpg); background-repeat: no-repeat; background-size:cover; opacity:0.3; justify-content:center; align-items:center; position:absolute; z-index:-1; left:4%">
</div>
<h1 style="position:absolute; z-index:2; left:40%; top:75%">
    Please Check Url
</h1>