
<section class="pt-4 pt-md-11 text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
                <!-- Image -->
                <img src="~/Images/article.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
                <!-- Heading -->
                <h1 class="display-3 text-center text-md-start">
                    Medium is a place to write, read, and connect
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                    It's easy and free to post your thinking on any topic and connect with millions of readers.
                </p>
                <!-- Button -->
                <div class="text-center text-md-start">
                    <a asp-action="Information" asp-controller="Home" class="btn btn-info lift">
                        About Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />