<div class="container">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            @foreach (TopicVM item in ViewBag.Topics)
            {
                <a class="p-2 text-muted" asp-controller="Topic" asp-action="Stories" asp-route-id="@item.TopicID">@item.Title</a>
            }
        </nav>
    </div>
    <hr />
</div>