@model List<TopicVM>
@{
    ViewData["Title"] = "SelectTopics";
}

<div class="container">
    <div class="row">
        @foreach (TopicVM item in Model)
        {
            <div class="col-md-4">
                <div class="card" style="background-color:seashell; margin:5px;">
                    <div class="card-header">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="@item.TopicID" name="chkTopic">
                            <label class="form-check-label" for="exampleCheck1" id="title-@item.TopicID">@item.Title</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <span id="description-@item.TopicID">@item.Description</span>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
    <input type="submit" value="Create" class="btn btn-primary" id="btn" style="width: 100px; margin: 30px" />
    <br />
</div>

<script>

    let topics = [];

    $("#btn").click(function () {
        topics = $.map($('input[name="chkTopic"]:checked'), function (c) { return c.id; });
        $.ajax({
            url: "/Topic/AddTopics",
            type: "POST",
            data: { ids: topics },
            success: function () {
                console.log(topics);
                window.location.href = "/Home/Index";
            }
        })
    })


</script>

